@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color1: #FFDDAD;
    --color2: #FA9633;
    --color3: #E06D34;
    --color4: #892E33;
    --titleFont: 'Bebas Neue', system-ui, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color1);
    background-image: url("https://i.pinimg.com/originals/a1/78/55/a1785592d41e140f00ef1cf3d9597dcb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    padding: 60px 0px 10px 0px;
    width: 95%;
    max-width: 850px;
    text-align: center;
    background-color: rgb(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0,0,0,0.5);
    transition-property: ease-in-out padding;
    transition-duration: .3s;
}

main > span {
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 1.4rem;
    letter-spacing: 5px;
    color: var(--color2);
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

h1, h2 {
    color: #fff;
    font-family: var(--titleFont);
    font-size: 3rem;
    letter-spacing: 12px;
}

main > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    letter-spacing: 3px;
    font-family: var(--titleFont);
    font-size: 1.4rem;
    margin: 0px 20px;
}

main > ul > li {
    margin: 0px 5px;
}

.plus-container {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plus-btn {
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 0px;
    width: 140px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    transition: border-color .3s;
}

.plus-btn:hover {
    opacity: 0.8;
}

.pluslist-holder {
    overflow-y: hidden;
}

.plus-list {
    width: 140px;
    font-family: system-ui, sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    bottom: 65px;
    border-style: solid;
    border-color: var(--color2);
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 3px 3px;
    transition-property: ease-in-out bottom top;
    transition-duration: 0.3s;
    padding: 5px 0px;
}

.plus-list > ul {
    list-style: none;
}

.plus-list > ul > li > a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0px;
    color: dimgray;
    transition: background-color .3s;
}

.plus-list > ul > li > a:hover {
    color: #fff;
}

.icons {
    margin: auto;
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #fff;
    position: relative;
    bottom: 60px;
    font-size: 2.5rem;
    transition-property: ease-in-out bottom top;
    transition-duration: .3s;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: var(--color2);
}

@media (max-width: 750px) {
    h1, h2 {
        font-size: 2.5rem;
        letter-spacing: 8px;
    }
    main > span {
        font-size: 1.2rem;
    }
    main > ul {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    h1, h2 {
        font-size: 2rem;
        letter-spacing: 6px;
    }
    .plus-list > ul > li > a {
        color: #fff;
    }
    .icons {
        font-size: 2rem;
    }
    main > span {
        font-size: 1rem;
    }
    main > ul {
        font-size: 1rem;
    }
}