@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #FFDDAD;
    --color2: #FA9633;
    --color3: #E06D34;
    --color4: #963439;
    --titleFont: 'Bebas Neue', system-ui, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color1);
    background-image: url("https://i.pinimg.com/originals/a1/78/55/a1785592d41e140f00ef1cf3d9597dcb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    background-color: rgb(0,0,0,0.3);
    width: 95%;
    max-width: 850px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0,0,0,0.5);
}

h1 {
    font-family: var(--titleFont);
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    margin: 60px 20px 20px 20px;
}

p {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
    line-height: 1.5rem;
    margin: 0px 20px 10px 20px;
}

.teclist-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-family: system-ui, sans-serif;
    color: #fff;
    text-align: left;
    margin: 20px 30px 60px 30px;
}

ul > li {
    padding-bottom: 2px;
    letter-spacing: .5px;
}

@media (max-width: 500px) {
    h1 {
        margin: 40px 20px 20px 20px;
    }
    ul {
        margin: 20px 15px 40px 15px;
    }
}